<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars fa-2x"></i>
    </label>
    <label class="logo">
        <img src="https://www.pngfind.com/pngs/m/170-1706361_web-development-icon-web-development-logo-png-transparent.png" alt="Dev Logo">
        <span>Web Learn</span>
    </label>
    <ul>
        <li><a href="" class="active">Home</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">About</a></li>
    </ul>
</nav>
