::ng-deep *{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   list-style: none;
   text-decoration: none;
}


$navbar_height:5rem;

$max_width:100vw;
$max_height:100vh;

$white:white;
$blue:#0082e6;
$light_blue:#1b9bff;
$dark_blue:#2c3e50;

$phone_devices_max_width:37.5rem;
$tablet_devices_max_width:59.5rem;


@mixin for-phone-devices {
    @media screen and (max-width:$phone_devices_max_width) {
        @content;    
    }
}

@mixin for-tablet-devices {
    @media screen and (max-width:$tablet_devices_max_width) {
        @content;    
    }
}
